# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
将删除 .idea/modules.xml
将删除 .idea/vcs.xml
将删除 algorithm-study.iml
